/* 进销存公共样式 */
html, body{ position: relative; height: 100%; background-color: #f5f5f5;}
button {     
	touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
}
p { padding: 0; margin: 0; }
input { margin: 0; padding: 0; font-size: 14px; }
button:focus,
button:active,
button:visited,
button:active { outline: none; }

/* 商品名超过两行省略 */
.ellipsis2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

  /* 更改遮罩层透明度 */
.layui-layer-shade {
	 opacity: 0.6!important;
 }

/* 定义滚动条样式 */
::-webkit-scrollbar
{
  width: 2px;
  height: 0;
  background-color: #F5F5F5;
}

/* 设置input placeholder字体大小 */
::-webkit-input-placeholder {
	font-size: 14px;
	color: #a9a9a9;
} 

/* reset layerui */
.layui-input-inline { float: none!important; }
.layui-btn { border-radius: 6px; }
.layui-table th, .layui-table td { text-align: center!important; }
/* 公共样式 */
.border-ff { background-color: #fff; border-radius: 6px;}
.btn-success-reset { border-radius: 6px; text-align: center; height: 38px; line-height: 38px; width: 140px; background-color: #50c0f4; color: #fff; font-size: 14px; }
.fj-row { display: flex; flex-direction: row; width: 100%; flex-wrap: wrap; align-items: center; justify-content: space-between; }
.frame-modal {  }
.frame-modal .modal-dialog { width: 92%; }
.frame-modal .modal-dialog .modal-content { border-radius: 6px;  }
.frame-modal .modal-header { height: 50px; line-height: 50px; padding: 0; border-bottom: 4px solid #f8f8f9; }
.frame-modal .modal-header .close{ margin-top: 11px; margin-right: 20px; font-size: 26px; }
.frame-modal .modal-title { text-align: center; line-height: 50px; font-size: 24px; }
.frame-modal .modal-footer { padding: 20px 0 40px; border: none; text-align: center; }
.frame-modal .modal-footer button { width: 120px; line-height: 36px; border-radius: 6px; margin-left: 20px; text-align: center; font-size: 16px; }
.frame-modal .modal-footer .btn-default-border { background-color: #fff; border: 1px solid #e9e9e9; color: #c3c3c3; }
.frame-modal .modal-footer .btn-blue-default { background-color: #50c0f4; border: 1px solid #50c0f4; color: #fff; }
.frame-modal table tbody tr td { padding: 0; }
.frame-modal table tbody tr td input { border: none!important; }
/* 页面样式 */
.invertory-content{ height: 100%; position: relative; /* padding-bottom: 70px; */ }
.invertory-content .invertory { height: 100%; padding: 40px; }
.invertory .i-header { /* height: 34px; */ margin-bottom: 20px; }
.invertory .i-header .layui-form-item { display: flex; flex-direction: row;  }
.invertory .i-header .layui-form-item > input { display: inline-block; width: 30%; margin-right: 10px; }

.invertory .i-title { height: 26px; }
.invertory .i-title button { height: 30px; line-height: 30px; width: 120px; }
.invertory .i-title .summary > div { display: inline-block; margin: 5px 0; padding: 0 8px; border-right: 1px solid #333; }
.invertory .i-title .summary > div span { font-size: 12px; color: #333; }
.invertory .i-title .summary > div:last-child { border-right: none; }

.invertory .i-content { margin-top: 10px; background-color: #fff; padding: 10px; height: calc(100% - 90px); overflow-y: auto; }
.invertory .i-content .t-calc span { 
	cursor: pointer;
	margin-right: 16px;
}
.invertory .i-content .t-calc span:hover { 
	color: #fb6d74;
    text-decoration: underline; 
    cursor: pointer; 
 }

 /* 采购单弹出框 */
.edit-purchase .top {  }
.frame-modal .set-scan { padding: 3px 4px; border-radius: 4px; font-size: 12px; color: #fff; background-color: #a9a9a9; margin-left: 4px; }
.frame-modal .set-scan.active { background-color: #8c8aed; }
.edit-purchase .list { margin-top: 20px; }
.edit-purchase .list .list-table { height: 406px; overflow-y: auto; }
.edit-purchase .list .list-table table tbody tr { /* height:   */}
.edit-purchase .list .list-table table tbody tr td { padding: 0; }
.edit-purchase .list .list-table table tbody tr td input { border: none!important; }
.edit-purchase .list .list-table table tbody tr td input:focus {}
.edit-purchase .list .list-table tbody {/*  min-height: 366px; overflow-y: auto; */ }
.edit-purchase .list .detail { margin-top: 40px; }
.edit-purchase .list .detail .layui-form-item { margin-bottom: 0; }
.frame-modal table .t-calc span { 
	cursor: pointer;
	margin-right: 16px;
}
.frame-modal table .t-calc span:hover { 
	color: #fb6d74;
    text-decoration: underline; 
    cursor: pointer; 
}

/* 商品信息弹出框 */
.edit-product {  }
.edit-product .modal-dialog { width: 70%!important; }
.layui-inline { margin-right: 10px; width: 30%; display: flex; flex-direction: row; }
.edit-product .top .layui-form-pane .layui-input-inline { width: 100%; }
.edit-product .list-table { height: 406px; overflow-y: auto; }
.edit-product .modal-footer { padding: 20px 20px 40px; }

/* 入库采购单弹出框 */
.put-product {  }
.put-product .modal-dialog { width: 70%!important; }
#getStock .modal-dialog { width: 45%!important; }
#getCost .modal-dialog { width: 52%!important; }
.put-product .top .layui-form-pane .layui-input-inline  { width: 100%; }
.put-product .list-table,
#getCost .list-table,
#getStock .list-table { height: 406px; overflow-y: auto; }
.put-product .modal-footer { padding: 20px 20px 40px; }

#getCost .layui-inline,
#getStock .layui-inline  { margin-right: 10px; width: auto!important; }
#getCost tr td,
#getStock tr td  { padding: 9px 15px!important; }
#getCost .fj-row,
#getStock .fj-row  { align-items: flex-start!important; justify-content: flex-start!important; flex-wrap: wrap; }

/* 调拨单 */
.put-product table tr td { padding: 9px 15px!important; }
.put-product .list .list-table { height: 405px; overflow-y: auto;}
.put-product .layui-inline { width: 22%!important; }
.put-reject table tr td { padding: 9px 15px!important; }
.put-reject .list .list-table { height: 405px; overflow-y: auto;}
.edit-allot .list .list-table { height: 406px; overflow-y: auto; }


.stock table tbody tr { /* height:   */}
.stock table tbody tr td { padding: 0; }
.stock table tbody tr td input { border: none!important; }
.profit .i-header { height: auto!important; }

.profit-loss .layui-input-inline { width: 60%!important; }
.profit-loss  .layui-form-pane .layui-form-label { width: 35%!important; }

.layui-form{ display: flex; flex-direction: row; flex-wrap: wrap; }
.edit-reject .layui-form-item { width: 100%; display: flex; flex-direction: row; justify-content: space-between; }
